#header{height : 100% ; }
#menu_btn{width:5%; height:30px; background:#EFEFEF; text-align:center}
#read_trab{margin-left : 30px ; display: none; background: yellow }
#menu_layer{height:70%; text-align:left; display:none; background: blue}