
#content_block{
    display: inline-block;
    margin-top : 6%;
    margin-left: 10%;
    margin-right : 10%;
    width: 80%;
    height:100%;

}
#post_content_block{
    display: inline-block;
    margin-top : 6%;
    margin-left: 10%;
    margin-right : 10%;
    width: 80%;
    height:100%;
    border-top : 1px dashed black;
}
#user_profile_photo{
    float: left;
    margin-left : 5%;
    width: 20%;
    height : 200px;
}
#user_profile_photo > img {
    max-width : 100%;
    max-height: 100%;
}
#user_profile_content{
    float: right;
    margin-left : 5%;
    margin-right : 5%;
    width: 65%;
    height: 200px;
    
}
#button_block{
    border-top : 1px solid black;
    padding-top : 20px;
    margin-top: 5%;
    text-align: center;
}

.cbox_profile_area{
    position: relative;
    height: 26px;
    padding : 11px 82px 0 14px;
    background: #fff;
}

.cbox_profile_name{
    display : block;
    overflow : hidden;
    position: absolute;
    top: 11px;
    right : 82px;
    bottom : 0 ;
    left: 15px;
    height : 23p;
    font-size : 12px;
    color : #000;
    font-weight: 700;
    line-height: 2.08;
    white-space : nowrap;
    text-overflow: ellipsis;
}

.cbox_star{
    position: absolute;
    top : 11px;
    right: 4px;
}