#login_page{
    max-height: 300px;
    margin-bottom : 100px;
}
.signid {
    display : block;
    font-size: 14px;
    line-height: 25px;
    color: rgb(154, 154, 154);
    text-decoration: none;
}

#login_form{
    padding-top : 40px;
    margin-left : 5%;
    display: inline-block;
    width : 30%;
    height : 300px;
}
#in_box{
    display : inline-block;
    
    width: 60%;
    margin-right: 5%;
    
}
