#trablepage_adzone{
    margin-left : 10%;
    width:80%;
    height : 500px;
    background: black;
    position : relative;
}


#ad_trablepages_none{
    display: none;
}

#input_text{
    font-size : 20px;
    width: 70%;
    height: 50px;
    border-radius: 20px;
    @media screen and (max-width:621px) {
        font-size : 10px;
    }
}

#notice_navigator{
    position : absolute;
    bottom : 0;
    left : 70%;
    font-size : 30px;
    @media screen and (max-width:400px) {
        font-size : 20px;
    }
}

#ad_trablepages{
    
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
    width: 100%;
    height: 500px;
    opacity: 0.8;
    cursor: pointer;
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
